<h1>CREAR PRODUCTOS</h1>
<form method="POST" action="/products">
    <label for="nameProd">Nombre del producto</label>
    <input type="text" value="title">
    <label for="descriptionProd">Descripción del Producto</label>
    <input type="text" value="description">
    <label for="priceProd">Precio</label>
    <input type="number" value="price">
    <label for="codeProd">Código del producto</label>
    <input type="text" value="code">
    <label for="stockProd">Stock</label>
    <input type="number" value="stock">
    <label for="categoryProd">Category</label>
    <input type="text" value="category">

    <button type="submit">Enviar</button>
</form>

