<form method="GET" action="/products">
    Filtrar por categoría:
    <select name="category">
        <option selected>Todas</option>
        <option name="Camisas" value="Camisas">Camisas</option>
        <option name="Pantalón" value="Pantalón">Pantalones</option>
        <option name="Blazer" value="Blazer">Blazer</option>
        <option name="Pollera" value="Pollera">Pollera</option>
        <option name="Tapado" value="Tapado">Tapado</option>
        <option name="Top" value="Top">Top</option>
    </select>
    <input type="submit" value="enviar">
</form>
<form method="GET" action="/products">
    Filtrar por precio:
    <select name="sort">
        <option name="asc" value="asc">Mayor valor</option>
        <option name="desc" value="desc">Menor valor</option>
    </select>
    <input type="submit" value="enviar">
</form>
<div>
    <h1>PRODUCTOS DISPONIBLES</h1>
    <div>
        {{#each docs }}
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        {{/each}}
    </div>
</div>

