<h1>TICKET</h1>

<p>Tus productos seleccionados son:</p>
{{purchaseTicket.amount}}
<div>
    {{#each purchaseTicket}}
    {{!-- <p>Item: {{this.products.productID}}</p>
    <p>Precio: ${{this.products.price}}</p>
    <p>Cantidad: {{this.products.quantity}}</p> --}}
    {{/each}}
</div>



