<form enctype="multipart/form-data" id="productForm">
    <label for="nameProd">Nombre del producto</label>
    <input type="text" name="nameProd" id="name">
    <label for="descriptionProd">Descripción del Producto</label>
    <input type="text" id="description">
    <label for="priceProd">Precio</label>
    <input type="number" name="priceProd" id="price">
    <label for="codeProd">Código del producto</label>
    <input type="text" name="codeProd" id="code">
    <label for="stockProd">Stock</label>
    <input type="number" name="stockProd" >

    <button type="submit">Enviar</button>
</form>

<div id="prodList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>