<div>
    <input type="text" id="mensaje" placeholder="Escribe un producto">
    <button type="submit" id="btn-send" onclick="enviarMensaje()">Enviar</button>
</div>
<div id="prodList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>